<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.geckotang.test</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>@GeckoTang</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>sample workflow</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string>this is sample workflow</string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>http://geckotang.tumblr.com/</string>
</dict>
</plist>
